<div class = row>
  <div class = 'col-sm-9'>
      <h1 style="margin-top: 0px;
    margin-bottom: 0px;">tiny app</h1>
      <h3><a href='/urls/new'>trim a new url</a></h3>
  </div>
  <div class = 'col-sm-3'>
  <% if(!user_id) { %>
    <a class="btn btn-primary" href='/login'role="button">login</a>
    <a class="btn btn-primary" href='/register'role="button">register</a>
  <% } else { %>
    <form action='/logout' method='POST'>
      <label for="user_id"><%= user.email %></label>
      <input class="btn btn-primary" type="Submit" value="logout">
    </form>
  <% } %>
  </div>
</div>
