<div class = row>
  <div class = 'col-sm-8'>
      <h1 style="margin-top: 0px;
    margin-bottom: 0px;">tiny app</h1>
      <h3><a href='/urls/new'>trim a new url</a></h3>
  </div>
  <div class = 'col-sm-4'>
  <% if(!username) { %>
    <form style="margin-top: 14px; action='/login' method='POST'>
      <label for="username"><%= username %></label>
      <input id="username" type="username" name="username" placeholder="create a username" style="width: 300px">
      <input class="btn btn-primary" type="Submit" value="login">
    </form>
  <% } else { %>
    <form action='/logout' method='POST'>
      <label for="username"><%= username %></label>
      <input class="btn btn-primary" type="Submit" value="logout">
    </form>
  <% } %>
  </div>
</div>