<!DOCTYPE html>

<html lang="en">

  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body style="font-size:20px; padding:50px;">

    <div class="alert alert-warning" role="alert">sign in or register a new email and password to use tiny app
    </div>

    <a class="btn btn-primary" href="/login" role="button">login</a>

    <a class="btn btn-primary" href="/register" role="button">register</a>

    </form>

  </body>

</html>