<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h2>url list</h2>
  <ul>
    <% for (let shortURL in urls) { %>
      <li><%= urls[shortURL] %> - <%= shortURL %> - <a href="">make tiny!</a></li>
    <% } %>
  </ul>
</body>
</html>

