<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <%- include('partials/_header') %>
  <h4><%= longURL[shortURL] %> - <%= shortURL %></h4>
</body>
</html>